---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99010079/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"3a82b807afcdedb8ec17551a757bd93f36e1b1f3b617095eb88f1ab1"'
      Last-Modified:
      - Tue, 07 Feb 2023 03:33:47 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '4'
      X-Esi-Request-Id:
      - 2c3b18ba-1f49-4803-9298-b75f3dcde162
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98645283,"creator_id":94809264,"date_founded":"2020-06-20T01:40:36Z","executor_corporation_id":98645283,"name":"Brave
        United","ticker":"BRUVE"}'
  recorded_at: Tue, 07 Feb 2023 04:01:56 GMT
recorded_with: VCR 6.1.0
